/data/deepset_covid_qa
/data/npho
/data/xquad-el
/data/wiki
/system/experiments
/system/meltemi_env
/system/qavenv
/haystack
/mlruns
/qavenv
rest_api/rest_api/pipeline
.gitignore
haystack-rest-api/test_venv
__pycache__
t_env
/z_del_1
/z_del_2
/z_del_3
